.schedule {
  display: flex;
  flex-wrap: wrap;
}
.schedule li {
  display: flex;
  margin-right: 3rem;
}
.schedule-box {
  background-color: #ffeaa7;
  padding: 1rem;
}
.class-section {
  margin-top: 0;
  padding-top: 5rem;
  background: linear-gradient(#fff, #f7ebf9);
  padding-bottom: 5rem;

}

.gray-gradients {
  margin-bottom: 0;
  background: linear-gradient(#fff, #ffdb88);
}

.gray-gradients--bottom {
  margin-top: 0;
  position: relative;
}

.contact-form {
  display: flex;
  justify-content: center;
}

.contact-form-box {
  margin-top: -12rem;
  max-width: 100%;
  width: 800px;
  background-color: white;
  border-radius: 1rem;
  padding: 3rem 1rem;
  text-align: center;
  -webkit-box-shadow: 2px 4px 22px 13px rgba(0, 0, 0, 0.11);
  box-shadow: 2px 4px 22px 13px rgba(0, 0, 0, 0.11);
}

.contact-form-box h2 {
  font-size: 5rem;
}

@media (max-width: 767px) {
  .schedule li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .schedule-box {
    width: 100%;
  }
  .class-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.nav {
  position: absolute;
  top: 0;
  z-index: 111;
  background-color: transparent;
  width: 100%;
}

.event-link {
  display: block;
  margin-top: 1rem;
  text-align: center;
  background-color: #00883f;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
}

.footer {
  margin-top: 5rem;
  border-top: thin solid #ddd;
  padding: 5rem 0;
  background-color: #242c37;
  color: #fff;
}

.brand {
  color: #000;
}

.copyright {
  margin-top: 3rem;
  padding: 2rem 0;
  border-top: thin solid #dfe6e9;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.outlink {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.outlink li {
  margin-right: 1rem;
}

.contact-btn-wrapper {
  margin-top: 3rem;
  text-align: center;
}
.contact-btn-wrapper .contact-btn {
  cursor: pointer;
  display: inline-block;
  background-color: #f7e600;
  color: #3c1e1e;
  padding: 1rem 5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
.contact-btn-wrapper contact-btn:hover {
  background-color: yellow;
}

.outlink a {
  cursor: pointer;
  display: inline-block;
  background-color: #f7e600;
  color: #3c1e1e;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
}
.outlink a:hover {
  background-color: yellow;
}
.outlink a h6 {
  margin-top: 1rem;
  display: block;
}

.outlink .somoim-wrapper a {
  background-color: transparent;
  text-align: center;
}
.outlink .somoim-wrapper a img {
  display: block;
  width: 100px;
}
.top-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.top-bg {
  position: relative;
  text-align: center;
  /* background-image: url("../images/championship-2.jpg"); */
  background-image: linear-gradient(
      rgba(237, 57, 250, 0.05) 0%,
      rgba(14, 195, 235, 0.1) 100%
    ),
    url("/images/dancer-bg.jpg");
    /* url("/images/dancing-bg.jpg");  */
  /* url("/images/pct2.jpeg"); */
  height: 600px;
  max-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.section-title-italic {
  font-family: "Libre Baskerville", serif;
  letter-spacing: -4px;
  font-size: 5rem;
  text-align: center;
  color: #43bad4;
  margin-bottom: 2rem;
}

.section-event {
  margin-top: 10rem;
}

.top-title h2 {
  font-size: 6rem;
  color: #fff;
}
.wave-section {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.class-ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 0;
}

.class-li {
  max-width: 33.33%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.class-li.class-li--big{
  max-width: 50%;
}

.class-card-box {
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 4px 22px 13px rgba(0, 0, 0, 0.11);
  box-shadow: 2px 4px 22px 13px rgba(0, 0, 0, 0.11);
}

.class-card-box h4 {
  color: #43bad4;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 2px;
}

.box-desc {
  font-size: 14px;
  color: #777;
  margin-bottom: 0.5rem;
}
.class-card-body{
  padding: 0 1rem 1rem;
}

.class-card-box-time {
  font-size: 14px;
  color: #555;
}
.top-gap {
  margin-top: 10rem;
}
.section-sm-title {
  text-align: center;
  display: block;
  width: 100%;
}

@media (max-width: 767px) {
  .top-bg {
    /* height: 200px; */
  }
  .top-title h2 {
    font-size: 2rem;
    text-align: right;
    padding-left: 5rem;
  }
  .class-li {
    max-width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .class-li.class-li--big{
    max-width: 100%;
  }
  
  .section-title-italic {
    font-size: 2.5rem;
  }
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.section-title-bg {
  text-align: center;
}

.contact-box {
  background-color: #ffffff;
  display: flex;
  width: 460px;
  height: 120px;
  position: relative;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  margin: 0 auto;
  text-decoration: none;
}
.contact-box:hover {
  transform: scale(1.04);
}

.left-side {
  background-color: #ff9568;
  width: 130px;
  height: 120px;
  border-radius: 6px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.right-side {
  width: calc(100% - 130px);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 6px;
  color: #ff9568;
  background-color: rgb(220, 251, 255);
}
.right-side:hover {
  background-color: #f9f7f9;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.refer {
  font-size: 23px;
  font-family: "Lexend Deca", sans-serif;
  margin-left: 20px;
}

.smile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffe073;
  position: absolute;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 2px 5px 10px -2px rgba(0, 0, 0, 0.2);
}

.eyes {
  width: 6px;
  height: 10px;
  position: absolute;
  box-shadow: -15px 0 0 0 #000, 15px 0 0 0 #000;
  border-radius: 50%;
  left: 27px;
  top: 20px;
}

.mouth {
  width: 36px;
  height: 18px;
  background-color: #000;
  position: absolute;
  border-radius: 0 0 60px 60px;
  top: 35px;
  left: 12px;
}

.contact-box:hover .smile {
  animation: slide-cross 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.contact-box:hover .eyes,
.contact-box:hover .mouth {
  animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.contact-box:hover .talk {
  animation: scale-up 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;
}
.contact-box:hover .star {
  animation: turning 0.5s ease-in-out 0.5s both;
}
.contact-box:hover .friend {
  animation: slide-in 0.7s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.contact-box:hover .shock {
  animation: wow 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

@keyframes wow {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes slide-in {
  100% {
    right: -45px;
    top: 35px;
  }
}
@keyframes turning {
  0% {
    transform: rotate(-160deg) scale(0);
    opacity: 0;
  }
  85% {
    transform: rotate(0) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.6);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes slide-cross {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-38px) translateX(-41px);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(1px) translateX(5px);
  }
}
.talk {
  width: 56px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  bottom: 34px;
  left: 33px;
  opacity: 0;
}

.triangle {
  position: absolute;
  background-color: #fff;
  top: -9px;
  left: 8px;
}

.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
  width: 12px;
  height: 12px;
  border-top-right-radius: 35%;
}

.triangle {
  transform: rotate(-85deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.star {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.friend {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffe073;
  position: relative;
  right: -85px;
  top: 85px;
  z-index: 15;
  box-shadow: 2px 5px 10px -2px rgba(0, 0, 0, 0.2);
}
.friend:before {
  content: "";
  width: 6px;
  height: 10px;
  position: absolute;
  box-shadow: -15px 0 0 0 #000, 15px 0 0 0 #000;
  border-radius: 50%;
  left: 24px;
  top: 18px;
}

.shock {
  width: 12px;
  height: 12px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 34px;
  right: 28px;
  will-change: transform;
}

@media only screen and (max-width: 480px) {
  .contact-box {
    transform: scale(0.7);
  }
  .contact-box:hover {
    transform: scale(0.74);
  }

  .refer {
    font-size: 18px;
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

main {
}
.contact-button-link {
  text-decoration: none;
  display: block;
  text-align: center;
}

.contact-button {
  background-color: #ffe073;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #3c1e1e;
  font-weight: bold;
}
.contact-button:hover {
  background-color: #ffc971;
}

.button.button-motang{
  border: thin solid;
  border-color: #43bad4;
  color: #43bad4;
}

.slogan {
  font-size: 1.5rem;
  padding-left: 2rem;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .slogan {
    font-size: 1rem;
  }
}

.water-wave {
  position: absolute;
  bottom: 0;
}

.water-wave .st0 {
  opacity: 0.12;
}

.water-wave .st1 {
  opacity: 0.18;
}

.water-wave .st2 {
  opacity: 0.24;
}

.water-wave .st3 {
  opacity: 0.3;
}

.water-wave .st4 {
  fill: #f7ebf9;
}

.down-water-wave .st0 {
  opacity: 0.12;
}

.down-water-wave .st1 {
  opacity: 0.18;
}

.down-water-wave .st2 {
  opacity: 0.24;
}

.down-water-wave .st3 {
  opacity: 0.3;
}

.down-water-wave .st4 {
  /* fill: #bfbab5; */
}

.blog-water-wave .st0 {
  opacity: 0.12;
}

.blog-water-wave .st1 {
  opacity: 0.18;
}

.blog-water-wave .st2 {
  opacity: 0.24;
}

.blog-water-wave .st3 {
  opacity: 0.3;
}

.blog-water-wave .st4 {
  fill: #fff;
}

.sub-text {
  display: block;
  text-align: center;
  font-weight: 600;
}

.blog-section {
  background-image: linear-gradient(
      rgba(237, 57, 250, 0.05) 0%,
      #43bad4
      /* rgba(248, 154, 255, 0.9) 100% */
    );
    /* url("/images/cat-pattern.png"); */
  /* url("/images/tango-bg.jpg"); */
  background-position: center top;
  padding-bottom: 15rem;
}
.white-text,
.white-text .section-title-italic {
  color: #fff;
}

.tango-illust {
  max-width: 100%;
  width: 500px;
  flex-grow: 1;
  flex-basis: 0;
}

.benefit-box {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.benefit-li {
  text-align: left;
  margin-bottom: 1rem;
  color: #333;
}

.benefit-ul {
  flex-grow: 1;
  flex-basis: 0;
}

.benefit-li h5 {
  color: #43bad4;
  font-size: 1.5rem;
}

.button {
  display: inline-block;
  backgroundcolor: #43bad4;
  padding: 1rem 4rem;
  color: white;
  font-weight: bold;
  border-radius: 4rem;
}

.button:hover {
  background-color: #ffdb88;
  transition: 0.5s ease;
}

.blog-card-box {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
}

.blog-card-box .class-info {
  padding: 1rem;
}

.blog-card-box .class-info h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.blog-card-box .class-info h4,
.blog-card-box .class-info .box-desc {
  color: #fff;
  text-align: center;
}

.blog-li {
  max-width: 30%;
  padding: 0 1rem;
}

.blog-li.blog-li--large {
  max-width: 40%;
}

@media (max-width: 767px) {
  .blog-li {
    max-width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
}

.top-info-box {
  padding-top: 6rem;
  position: relative;
}

.top-info-text {
  color: white;
  text-align: right;
  position: absolute;
  z-index: 99;
  right: 0;
}

.top-info-text h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.top-info-text p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #e7ccb6;
}

@media (max-width: 767px) {
  .top-info-text {
    padding-top: 7rem;
    padding-right: 1rem;
  }

  .top-info-text h2 {
    font-size: 3rem;
  }

  .top-info-text p {
    font-size: 1rem;
  }
  .contact-form-box h2 {
    font-size: 2rem;
  }
  .blog-li.blog-li--large {
    max-width: 100%;
  }
}

.read-more-wrapper {
  margin-top: 4rem;
  text-align: center;
}

.line-button {
  background-color: transparent;
  border: 3px solid #fff;
}

.blog-a-link {
  color: #ed39fa;
  text-align: center;
  display: block;
  margin-top: 1rem;
}

.class-coast {
  display: flex;
  justify-content: center;
}

.class-coast li {
  padding: 1rem;
}

@media (max-width: 767px) {
  .class-coast {
    flex-wrap: wrap;
  }
}

.location-card {
  width: 30rem;
  max-width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #43bad4;
  color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 4px 22px 13px rgba(0, 0, 0, 0.11);
  box-shadow: 2px 4px 22px 13px rgba(0, 0, 0, 0.11);
}

@media (max-width: 767px) {
  .location-card {
    width: 100%;
  }
  .outlink li {
    margin-right: 0;
  }
}

.location-info {
  padding: 0 1rem 1rem;
}

.location-info h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: -2.5rem;
}
.level-btn-group {
  margin-top: 1rem;
}

.level-btn {
  border-radius: 1rem;
  background-color: #bbb;
  padding: 0.5rem 1rem;
  display: inline-block;
}
.level-btn.active {
  transition: background-color 0.5s ease-out;
  backround-color: #43bad4;
  color: white;
}

.level-btn.active:hover {
  background-color: #ed39fa;
}

.collegium{
  margin-top: 1rem;
}
.collegium h4{

}

.master-box{
  padding: 1rem;
}

.sns-icon{
  width: 2rem;
  height: 2rem;
  display: flex;
}
.sns-links{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.sns-links a{
  margin-right: 1rem;
}

.master-box{
  background-size: cover;
  height: 20rem;
}

.master-wiper{
  /* background-color: ##43bad4; */
}

.px1>use:first-child {
  animation-delay: -2s;
}

.px1>use {
  animation: move-forever1 10s linear infinite;
}

.px3>use:first-child {
  animation-delay: -2s;
}
.px3>use {
  animation: move-forever3 6s linear infinite;
}

.px2>use:first-child {
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px);
  }
  
  100% {
    transform: translate(-90px);
  }
}


.px2>use {
  animation: move-forever2 8s linear infinite;
}
.px4>use:first-child {
  animation-delay: -2s;
}

.px4>use {
  animation: move-forever4 4s linear infinite;
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px);
  }
  100% {
    transform: translate(85px);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px);
  }
  100% {
    transform: translate(-90px);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px);
  }

  100% {
      transform: translate(85px);
  }
}



.gradation-white-box{
  width: 100%;
  height: 3vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,1));
}

#player1{
  max-width: 100%;
}

.flex-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.movie-desc{
  margin-left: 1rem;
  max-width: 430px;
}

@media (max-width: 1399px) {
  .movie-desc{
    margin-left: 0;
    margin-top: 1rem;
  }
}

.movie-container{
  margin-bottom: 2rem;
}

.level-box{
  max-width: 100%;
  width: 700px;
}