.tango-container {
  display: flex;
  height: 100vh;
  width: 1003;
  position: relative;
}

.video-wrapper{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.text-box-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

h1{
  font-size: 7rem;
  font-weight: 900;
  line-height: 1;
  color: #75aadb;
  background-color: #f9ca24;
  padding: 1rem 2rem;
}

.white{
  color: #fff;
}

.text-box{
  display: inline-block;
  padding: 1rem 3rem;
}

.free{
  color: red;
  font-size: 10rem;
  font-weight: 900;

}

.schedule p{
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
  text-decoration: underline;
}

.time{
  font-size: 8rem;
  color: yellow;
}