.tango-container {
  display: flex;
  height: 100vh;
  width: 1003;
  position: relative;
}

.video-wrapper{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.text-box-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

h1{
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 1;
  color: #75aadb;
  background-color: #f9ca24;
  padding: 1rem 2rem;
}

.white{
  color: #fff;
}

.text-box{
  display: inline-block;
  padding: 1rem 3rem;
}

.free{
  color: red;
  font-size: 15rem;
  font-weight: 900;
  --animate-duration: 3s;
}

.schedule p{
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
}

.time{
  font-size: 8rem;
  color: yellow;
}

.something-text{
  display: none;
}

.center-text{
  background-color: #f6b93b;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.center-text h2{
  font-size: 17rem;
}
.center-text h3{
  font-size: 6rem;
}

.red{
  color: red;
}

.ice{
  color: #25CCF7;
  font-size: 7rem;
  display: inline-block;
}

.marqueeStyle {
  display: inline-block;
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
