.bg-box-palalax {
  position: relative;
}
.basic-section--dark {
  background-image: url("../images/contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.basic-top-section {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-family: "NotoSansCJKkr";
  font-weight: 100;
  position: relative;
  padding: 5rem 0;
}

.basic-section {
  height: calc(100vh - 68px);
  font-family: "NotoSansCJKkr";
  font-weight: 100;
  position: relative;
  width: 100%;
}

.basic-top-section .section-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
}
.section-container--second {
  padding: 9.25rem 0 6rem;
}

.basic-section--green h1 {
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  font-family: "NotoSansKR";
  font-size: 48px;
  font-size: 3rem;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 1.5rem;
}

.section-text-box {
  width: 100%;
  padding: 0 4rem;
}

.section-text-box .section-lead {
  font-family: NotoSansKR;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  color: #fff;
  text-align: center;
}

.bottom-btn-wrapper {
  width: 100%;
  position: absolute;
  bottom: 120px;
  bottom: 5.5rem;
  text-align: center;
}

.btn-small-lead {
  font-size: 9px;
  font-size: 0.75rem;
  font-family: SofiaProSoft;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  color: #fff;
}

.section-lead--sm {
  font-family: SofiaProSoft;
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  display: inline-block;
}

.basic-section h2 {
  font-family: SofiaProSoft;
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.optimity-green-dot-wrapper {
  text-align: right;
  padding-right: 10%;
  width: 100%;
  margin-bottom: -3rem;
}

.optimity-lead {
  font-family: "NotoSansKR";
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #ffffff;
}

.mac15 .optimity-lead {
  font-size: 1.4rem;
}

.step-num {
  font-family: SofiaProSoft;
  font-size: 80px;
  font-size: 5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  color: #1adc28;
  display: block;
  margin-top: 0.5rem;
}

.step-num--blue {
  color: #001478;
}

.basic-section--dark h2 {
  color: #fff;
}

.s-right-full-nav-modal {
  text-align: right;
  padding-right: 0 !important;
  background-color: rgba(0, 0, 0, 0.9);
}
.s-right-full-nav-modal .modal-content {
  border: none;
  border-radius: 0;
}

.s-right-full-nav-modal .modal-dialog {
  display: inline-block;
  margin: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.s-right-full-nav-modal .modal-body {
  width: 100%;
  padding: 3.5rem 0 0;
}

.s-right-full-nav-modal .modal-dialog .modal-header {
  text-align: right;
  display: block;
  border: none;
  padding: 0.5rem 1rem 0;
}

.s-right-full-nav-modal.fade .modal-dialog {
  right: 0;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transform: translate(100px, 0);
}

.s-right-full-nav-modal.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.s-right-full-nav-modal .modal-header .close {
  color: #fff;
  border-radius: 10px;
  padding: 0;
  width: 32px;
  height: 32px;
  opacity: 1;
  font-size: 1.3rem;
  line-height: 32px;
  float: inherit;
  margin: 0 0 0 1rem;
}

.s-right-full-nav-modal .modal-header .close:hover,
.s-right-full-nav-modal .modal-header .close:focus {
  color: #fff;
}

.s-right-full-nav-modal .modal-header .close i {
  line-height: inherit;
}

.s-right-full-nav-modal .modal-content {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: transparent;
}
.gnb-ul-mo {
  padding-left: 0;
  width: 100%;
  list-style: none;
}

.gnb-ul-mo .gnb-li {
  width: 100%;
  text-align: left;
  padding-left: 36px;
  margin-bottom: 20px;
}

.gnb-ul-mo .gnb-li .nav-btn {
  color: #fff;
  width: auto;
  text-align: left;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  padding: 4px 0 4px;
}

.gnb-ul-mo .gnb-li .nav-btn.active {
  color: #00c8b4;
  border-bottom: thin solid #00c8b4;
}
.gnb-ul-mo .gnb-li .nav-btn::after,
.gnb-ul-mo .gnb-li .nav-btn::before {
  display: none;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.modal-footer-info {
  position: absolute;
  left: 2rem;
  bottom: 3rem;
  text-align: left;
}

.modal-footer-info p {
  margin-top: 6px;
  opacity: 0.4;
  font-family: Inter;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.active-line {
  height: 2px;
  border-radius: 1px;
  background-color: transparent;
  display: block;
  margin-top: 0.5rem;
}
.active .active-line {
  background-color: #3c64ff;
}
.icon-box {
  text-align: center;
  margin-top: 83px;
}
.icon-box img {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .icon-box img {
    margin-bottom: 10px;
  }
  .icon-box {
    text-align: left;
    margin-bottom: 40px;
    margin-top: 0;
  }
}

.icon-box h5 {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
  color: #00148c;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .icon-box h5 {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
  }
}

.icon-box p {
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .icon-box p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.card-round-full {
  position: relative;
  margin-bottom: 40px;
}
.card-round-full:focus img,
.card-round-full:hover img {
  filter: brightness(120%);
  transition: 0.2s ease;
}
.card-round-full img {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
@media (max-width: 767px) {
  .card-round-full {
    text-align: center;
    margin-bottom: 20px;
  }
  .card-round-full img {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
}

.card-round-full .title-base {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .card-round-full .title-base {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-round-full h5 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px) {
  .card-round-full h5 {
    font-size: 20px;
    font-weight: bold;
    line-height: 2.4;
  }
}
.icon-card {
  text-align: center;
}
.icon-card img {
  margin-bottom: 20px;
}
.icon-card h5 {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
  color: #00148c;
  margin-bottom: 10px;
}

.icon-card p {
  font-size: 18px;
  line-height: 1.56;
  color: #000;
  margin-bottom: 0;
  text-align: left;
}
@media (max-width: 767px) {
  .icon-card {
    text-align: left;
    margin-bottom: 40px;
  }
  .icon-card img {
    margin-bottom: 10px;
  }
  .icon-card h5 {
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    line-height: 1.33;
  }

  .icon-card p {
    font-family: NotoSansKR;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #000;
  }
}

.vpn-img {
  margin-bottom: 60px;
}
.energe-img {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .energe-img {
    width: 752px;
    max-width: 752px;
    margin-bottom: 40px;
  }
  .vpn-img {
    width: 738px;
    max-width: 738px;
    margin-bottom: 40px;
  }
  .container-right-zero--energe {
    margin-top: 0;
  }
}

.partners-card {
  text-align: center;
  margin-top: 80px;
}

.partners-card h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  color: #646464;
  margin: 0;
}
@media (max-width: 767px) {
  .partners-card {
    margin-top: 40px;
  }

  .partners-card h5 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: #646464;
  }
}

.up-line-middle-title {
  margin-top: 120px;
}
.partnership-group {
  margin-top: 110px;
  margin-bottom: 100px;
}
.partnership-card {
  margin-bottom: 80px;
}

.partnership-card h5 {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  color: #00148c;
  margin-bottom: 20px;
  height: 57px;
}

.partnership-card p {
  color: #000;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
}

@media (max-width: 767px) {
  .partnership-group {
    margin-top: 110px;
    margin-bottom: 120px;
  }
  .partnership-card {
    margin-bottom: 40px;
  }

  .partnership-card h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.56;
    text-align: left;
    margin-bottom: 10px;
    height: auto;
  }

  .partnership-card p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }
}

.img-worldmap {
  margin-top: 80px;
}
footer {
  margin-top: 160px;
}

.footer-wrapepr {
  border-top: thin solid #c8c8c3;
  padding-top: 40px;
  padding-bottom: 160px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  footer {
    margin-top: 80px;
  }

  .footer-wrapepr {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 120px;
  }

  .m-world-location-wrapper {
    width: 100%;
    display: flex;
    text-align: center;
  }
}

.address-inline {
  display: flex;
}
@media (max-width: 767px) {
  .address-inline {
    flex-wrap: wrap;
  }
}

.address-inline h5,
.address-inline address {
  display: inline-block;
  font-size: 16px;
  line-height: 1.31;
  color: #646464;
}

.address-inline h5 {
  font-weight: bold;
  margin-bottom: 0;
}
.address-inline address {
  margin-left: 10px;
  margin-bottom: 0;
}
.address-inline address::before {
  content: "|";
  margin-right: 10px;
}
@media (max-width: 767px) {
  .address-inline h5 {
    width: 100%;
    font-weight: bold;
    margin-bottom: 0;
  }
  .address-inline address {
    margin-left: 0;
    margin-bottom: 0;
  }
  .address-inline address::before {
    content: "|";
    display: none;
  }
}

.footer-wrapepr .footer-logo {
  margin-right: 40px;
}
@media (max-width: 767px) {
  .footer-wrapepr .footer-logo {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.footer-wrapepr p {
  margin-top: 4px;
  font-family: Inter;
  font-size: 16px;
  line-height: 1.19;
  color: #646464;
}
@media (max-width: 767px) {
  .footer-wrapepr p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
  }
}
.contact-info-row img {
  margin-bottom: 10px;
}
.contact-info-row {
  margin-top: 80px;
  margin-bottom: 40px;
}
.contact-info-row--last {
  margin-top: 0;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .contact-info-row--last {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.contact-text-wrapper {
  display: flex;
  justify-content: space-between;
}
.contact-text {
  width: 290px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .contact-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .contact-text {
    width: 100%;
    margin-bottom: 20px;
  }
}
.contact-text h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: #646464;
}

.contact-text a {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  color: #646464;
}

@media (max-width: 767px) {
  .contact-text h5 {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }

  .contact-text a {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    font-weight: normal;
  }
}
.lang-en {
  display: none;
}

.lang-kr {
  display: none;
}

.lang-en.active {
  display: block;
}

.lang-kr.active {
  display: block;
}

.kr-box-wrapper {
  margin-top: 240px;
}

.location-img {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.location-img-mo {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.history-link {
  display: block;
}
.history-link .location-img {
  transition: transform 0.5s;
}
@media (max-width: 767px) {
  .history-link {
    text-align: center;
  }
  .location-img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}

.history-link:hover .location-img {
  transform: scale(1.01);
}

.modal-mov .modal-dialog {
  width: 960px;
  max-width: 100%;
}

.modal-mov .modal-content {
  background-color: transparent;
  border: none;
}
.modal-mov .modal-body {
  padding: 0;
}

.modal-mov .close {
  position: absolute;
  top: -20px;
  right: -80px;
}

@media (min-width: 992px) and (max-width: 1279px) {
  .modal-mov .modal-dialog {
    padding: 0 5rem;
  }
}
@media (max-width: 991px) {
  .modal-mov .close {
    position: absolute;
    top: -80px;
    right: -18px;
  }

  .modal-mov .modal-dialog {
    padding: 0;
    margin: 0;
    padding: 0 2rem;
  }
}

.media-thumb-img {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

@media (max-width: 767px) {
  .media-thumb-img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}
.m-scroll-wrapper {
  width: 100%;
}
.m-scroll-wrapper-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}
.normal-box-wrapper {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .m-scroll-wrapper {
    width: 944px;
  }
  .m-scroll-wrapper-row {
    margin-right: -8px;
    margin-left: -8px;
  }
  .normal-box-wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
  .swiper-top-wrapper {
    overflow: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 40px;
  }

  .normal-box-wrapper .normal-box h5 {
    margin-bottom: 10px;
    text-align: center;
  }
  .mo-gnb-ul-lang {
    margin-top: 16vh;
    display: flex;
    list-style: none;
  }
  .mo-gnb-ul-lang button {
    padding: 0 17px 0 0;
  }
  .normal-box.normal-box-kr--last {
    margin-bottom: 40px;
  }

  .mo-scroll-horizontal-wrapper {
    padding-left: 2em;
  }
}

.modal-backdrop.show {
  opacity: 0.8;
}
