.section-title-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 800px;
  height: 50rem;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.section-container {
  max-width: 1060px;
  text-align: left;
  margin: 0 auto;
}

.container-inner h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  color: #00c8b4;
}
.container-inner h4 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .container-inner h3 {
    margin-bottom: 10px;
  }
}

.shadow-box {
  padding: 40px 0;
  border-radius: 40px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  text-align: center;
}
.shadow-box img {
  margin-bottom: 20px;
}
.shadow-box h5 {
  font-family: Inter;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.47;
  color: #00148c;
  margin-bottom: 0;
}

.shadow-box h6 {
  font-family: Inter;
  font-size: 16px;
  line-height: 1.75;
  color: #646464;
}

.shadow-box p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #646464;
  margin-top: 40px;
  margin-bottom: 0;
}

.bg-box {
  height: 960px;
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-box h2 {
  font-size: 60px;
  font-size: 3.75rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  color: #fff;
}
@media (max-width: 767px) {
  .bg-box h2 {
    font-size: 40px;
    line-height: 1.2;
    text-align: left;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.overvisible {
  position: relative;
}

/*  */

.homeBtnNav {
  padding: 0;
}

.parallax-vanilla {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-vanilla__bg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.group-finish-line {
  margin-top: 120px;
  border-bottom: thin solid #c8c8c8;
}
@media (max-width: 767px) {
  .group-finish-line {
    margin-top: 80px;
    border-bottom: thin solid #c8c8c8;
  }
}

.media-group {
  margin-top: 240px;
}

.media-video {
  height: 349px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.media-info h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: #00c8b4;
  margin-bottom: 10px;
}
.media-info p {
  font-size: 18px;
  line-height: 1.56;
  color: #000;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .media-info h4 {
    font-size: 18px;
  }
  .media-info p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }
}

.media-row {
  margin-bottom: 160px;
}

.round-title {
  padding: 12px 0;
  border-radius: 24px;
  background-color: #00c8b4;
  width: 100%;
  font-family: Inter;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  color: #fff;
}

.round-box-group {
  margin-top: 20px;
  margin-bottom: 120px;
}

.processing-img {
  margin-top: 120px;
  margin-bottom: 17px;
}
.normal-box h5 {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
  color: #00148c;
}

.normal-box p {
  font-family: Inter;
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
  color: #000;
}

.normal-box.normal-box-kr h5,
.normal-box.normal-box-kr p {
  text-align: left;
}

.normal-box.normal-box-kr p {
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
  color: #000;
  font-family: "NotoSansKR";
}

.middle-bg-title {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.middle-bg-title--elecline {
  background-image: url("../images/bg-elecline-sky.jpg");
}

.middle-bg-title--ip {
  background-image: url("../images/bg-middle-setion-ip.jpg");
}
.middle-bg-title--smartcar {
  background-image: url("../images/bg-middle-sction-smartcar.jpg");
}

.middle-bg-title--smartfactory {
  background-image: url("../images/bg-middle-sction-smartfactory.jpg");
}

.middle-bg-title--smarthome {
  background-image: url("../images/bg-middle-sction-smarthome.jpg");
}

.middle-bg-title h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.middle-bg-title p {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #fff;
}
@media (max-width: 767px) {
  .middle-bg-title h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .middle-bg-title p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }
}

.plain-box {
  margin-bottom: 80px;
}
.plain-box p {
  font-size: 24px;
  line-height: 1.33;
  text-align: left;
  color: #646464;
  margin-bottom: 40px;
}
.plain-box__p--last {
  margin-bottom: 0;
}

.icon-group-wrapper {
  margin-bottom: 160px;
}

.ip-process-img {
  margin-bottom: 100px;
}

.middle-bg-title p.p-sm {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
}

.car-process-img {
  margin-top: 40px;
}

.car-factory-img {
  margin-bottom: 100px;
}

.middle-bg-title--iot {
  background-image: url("../images/bg-middle-sction-smartfactory.jpg");
}

.h5-large {
  margin-left: -1px;
}

.section-top-bg-company {
  background-image: url("../images/section-bg-about.jpg");
}
.circle-img-box img {
  margin-bottom: 40px;
}

.circle-img-box h4 {
  font-size: 30px;
  font-weight: bold;
  line-height: 0.93;
  text-align: center;
  color: #00148c;
  margin-bottom: 20px;
}
.circle-img-box p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  color: #646464;
  margin: 0;
}
@media (max-width: 767px) {
  .circle-img-box {
    margin-bottom: 80px;
  }
  .circle-img-box img {
    margin-bottom: 20px;
  }

  .circle-img-box h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .circle-img-box p {
    font-size: 16px;
    line-height: 1.5;
  }
}

.bg-box.midde-big-section .container-inner {
  padding-top: 170px;
}

.midde-big-section--trust {
  background-image: url("../images/bg-middle-sction-trust.jpg");
}

.circle-img-wrapper {
  margin-top: 80px;
  margin-bottom: 160px;
}
@media (max-width: 767px) {
  .circle-img-wrapper {
    margin-top: 80px;
    margin-bottom: 0;
  }
}

.midde-big-section--partnership {
  background-image: url("../images/bg-middle-sction-partnership.jpg");
}

.section-top-bg-contact {
  background-image: url("../images/section-bg-contact.jpg");
}
